.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background: pink;
}

.text{
  color: #313131;
  text-decoration: none;
  margin: 1rem;
  font-size: 1.2rem;
}

.text:hover{
  color: #535353;
}